<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>シフト作成(変更)</title>
  </head>
  <body>
    <h2>シフト作成(変更)</h2>
    <table border="1">
        <tr>
            <th>日付</th>
            <th>氏名</th>
            <th>コマンド</th>
        </tr>
        <tr th:each="sm: ${submitMembers)">
            <td>[[${sm.date}]]</td>
            <td>[[${sm.name}]]</td>
            <td>
                <a th:href="@{/admin/{seq}/confirme(seq=${sm.seq})}">登録</a>
            </td>
        </tr>
    </table>
    <h2>シフト確定</h2>
    <table border="1">
        <tr>
            <th>日付</th>
            <th>氏名</th>
            <th>コマンド</th>
        </tr>
        <tr th:each="cm: ${confirmedMembers}">
            <td>[[${cm.mid}]]</td>
            <td>[[${cm.name}]]</td>
            <td><a th:href=@{/admin/{seq}/delete(seq=${cm.mid})}>削除</a></td>
        </tr>
    </table>
    <p>
        <a th:href=@{/}>戻る</a>
    </p>
    
  </body>
</html>