<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>test</title>
  </head>

  <body width="2000px" height="2000px">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="fullcalendar/fullcalendar.css" media="all"/>
    <link rel="stylesheet" href="style.css" media="all"/>    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src='fullcalendar/lib/jquery.min.js'></script>
    <script src='fullcalendar/lib/moment.min.js'></script>
    <script src='fullcalendar/fullcalendar.js'></script>
    <script src='fullcalendar/locale/ja.js'></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <h1 style="text-align:center;">シフト提出画面</h1>
    <div id="calendar">
        <form method="POST" action="./calendar.html">
            <input type="submit" value="提出する" onclick="submitting()"/>
        </form>
    </div>
    <div id="shiftlist">
        <h3>選択したシフト希望日</h2>
        <text id="list"></text>
    </div>
    <script type="javascript" th:inline="javascript">
        // ページ読み込み時の処理
        <![CDATA[
        var shiftList = [];
        $(document).ready(function () {
            // カレンダーの設定
            $('#calendar').fullCalendar({
                height: 550,
                locale: "ja",
                selectable: true,
                unselectAuto:false,
                events:shiftList // 現在のシフト状況
                dayClick: function(date, jsEvent, view) {
                    if($(this).hasClass("clicked")){
                        $(this).removeClass("clicked");
                    }else{
                        $(this).addClass("clicked");
                    }
                    day = String(('00'+(date._d.getMonth()+1)).slice(-2))+"-"+String(('00'+date._d.getDate()).slice(-2))
                    if(shiftList.includes(day)){
                        var index = shiftList.indexOf(day);
                        shiftList.splice(index,1);
                    }else{
                        shiftList.push(day);
                    }
                    d3.select('text').text(shiftList.sort());
                    d3.select("#list").style("font-size","25px")
                }
                });
        });
        function submitting(){
            var List = [];
            for(let i=0;shiftList.length;i++){
                List.push([{
                    name:[[${member.name}]],
                    date:shiftList[i]
                }])
            }
            [[${shifts}]]=List;
        }
        ]]>
    </script>
  </body>
</html>